<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
<div><a th:href="@{/}">Home</a></div>
<a href="/admin/create-blog">Create new blog</a>
<h1>Blogs</h1>
<form>
    Search by first title:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Writer</th>
        <th>Category</th>
        <th>Content</th>
        <th>Time</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.writer}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.time}"></td>
            <td><a th:href="@{/admin/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/admin/delete-blog/__${blog.id}__}">Delete</a> </td>
            <td><a th:href="@{/admin/view-blog/__${blog.id}__}">View</a> </td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/blogs?size=3'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blogs?size=3'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>